body{
    margin: 0;
    padding: 0;
}
main{
    margin: 0 100px;
    height: 70vh;
}
header {
    background-color: gray;
    height: 20vh;
}
header .logo {
    display: flex;
    justify-content: center; 
    height: 10vh;
    color: blueviolet;
 
}
/* .Accueil{
    height: 80vh;
} */
nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: blanchedalmond;
}
main h1{
    text-align: center;
}
main button {
    background-color: rgb(18, 208, 214);
    color: azure;
    border-radius: 5px;
    height: 40px;
    border: none;
}
.container{
    display: flex;

}
form input,form label ,form textarea{
display: block;
width: 80em;
}
form button {
    width: 80em;
    margin-top: 1em;
    background-color: bisque;
}
footer{
    background-color: gray;
    height: 10vh;
    text-align: center;
    padding-top: 1.5em;
}